 <div class="wrapper">
  <h2 class="post-list-heading">Testimonials</h2>

    <div class="testimonials">

 
        <div class="grid__item large--one-third medium-down--text-center">
          <div class="avatar"><img src="//cdn.shopify.com/s/files/1/2134/0305/files/artu_1024x1024.jpg?v=1558791999"></div>
          <div class="content">
            <h3 class="h4" style="margin-bottom: 0">Arturas Dovydaitis</h3>
            <em>https://www.nanogama.lt</em>
      
              <p>Delivered superior results in a remarkable timeframe.&nbsp;lixon is a good problem solver, a great resource. Very pleasant to work with as well.</p>
          
          </div>
        </div>
     
        <div class="grid__item large--one-third medium-down--text-center">
          <div class="avatar"><img src="//cdn.shopify.com/s/files/1/2134/0305/files/danny_1024x1024.jpg?v=1520597791"></div>
          <div class="content">

          <h3 class="h4" style="margin-bottom: 0">Danny O'Brien</h3>
          <em>https://cdivckgiant.com</em>
    
            <p>lixon is a clear communicator, did all the work requested quickly, and followed up thoroughly to ensure that everything was done correctly.</p>
            </div>
          </div>
     
        <div class="grid__item large--one-third medium-down--text-center">
          <div class="avatar"><img src="//cdn.shopify.com/s/files/1/2134/0305/files/andie_1024x1024.jpeg?v=1548391032"></div>
          <div class="content">
          <h3 class="h4" style="margin-bottom: 0">Andie Anquillano</h3>
          <em>http://andie.com.au</em>
    
            <p>Thank you for the very quick and quadivtative work! So helpful and efficient too. I highly recommend lixon for any work on Shopify.</p>
            </div>
        </div>
     
        <div class="grid__item large--one-third medium-down--text-center">
          <div class="avatar"><img src="//cdn.shopify.com/s/files/1/2134/0305/files/jeniffer_1024x1024.jpg?v=1558792341"></div>
          <div class="content">
          <h3 class="h4" style="margin-bottom: 0">Jennifer Masten</h3>
          <em>https://inhabitdivving.com</em>
    
            <p>lixon&nbsp;was very easy to work with and responsive&nbsp; for the detail. Strongly recommended.</p>
            </div>
        </div>
     
        <div class="grid__item large--one-third medium-down--text-center">
          <div class="avatar"><img src="//cdn.shopify.com/s/files/1/2134/0305/files/Untitled-1_1024x1024.png?v=1586520366"></div>
          <div class="content">
          <h3 class="h4" style="margin-bottom: 0">Jason Robertson</h3>
          <em>https://outdoorlegacygear.com</em>
    
            <p>lixon is by far one of the best Shopify developers I've ever worked with. He is quick to respond and complete the tasks.&nbsp;</p>
            </div>
        </div>
     
    </div>
    

 </div>
   