---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  html,body{
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 1rem;
    background-color: #f9fafb;
}
header{
    padding: 30px;
    background:  #fff;
}
small{
     font-size: 1rem;
    font-weight: normal;
}
.post-title, .post-content h1{
  font-size: 2em;
}
.logo{

    font-Family: 'Questrial', Sans-Serif;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1;
    color: #000 !important;
}
.logo.small{
  font-size: 1.5rem;
}
header.site-header{
  padding: 10px;
}
h2{
  font-size: 2rem;
}
.green{
    color: #88C102;
}
img.featured{
   margin-bottom: 20px;
   border-radius: 5px;
}
h1:not(.post-title){
  
    font-size: 1.1rem;
    font-weight: normal;
}
.text-center{
    text-align: center;
}
.copyright{
  padding: 20px 0;
  font-size: 14px;
}
.content div{
  padding:20px;
}
body.index .post-link{
   font-size: 1.1rem;
}
body.index .post-meta{
  display: block;
}
 body.blog .post-link{
  font-size: 1.29rem;
  }
 .post-list > li{
   margin-bottom: 10px;
 }
@media(min-width:1024px){
    main{
       width: 60%;
       margin: auto; 
    }
    .content div{
      padding:50px;
    }
    header{
 
      padding: 150px 50px 50px;
     
    }
    body.index header{
      text-align: center;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 35px;
    }
        

    header small{
      font-size: 1.5rem;
    }
    .logo{
      font-size: 5.5rem;
    } 
    header h1{
      font-size: 2rem;
    }
    section .content{
      width: 50%;
    }
}
 
 