---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  @media (max-width:1300px){
    .wrapper{
      max-width: 80%;
    }
  }
  @media (max-width: 800px){
    .testimonials{
      text-align: center;
      .avatar{
        margin: auto;
      }
    }
    .index-banner{
      img{display: none}
    }
    .post-link{
      font-size: .8em;
    }
    .post-title{
      font-size: 1.8em;
    }
  }
  @media (min-width:1300px){
    .wrapper{
      max-width: 50%;
    }
    
  }
 @media (min-width: 800px){
  .one-half-grid{
    width: 46%;
    display:inline-table;
    margin-right: 2%;
    vertical-align: middle;
  }
  .one-third{
    width: 33%;
    display:inline-table;
    margin-right: 2%;
    vertical-align: middle;
  }
  .testimonials{
    margin: 0 0 70px 0 !important;
    .grid__item{
      background-color: #f2f2f2;
      margin-bottom: 30px;
    }
    em{
      margin-bottom: 20px;
    }
    .content{
      padding-top: 40px;
      padding-right: 30px;
    }
    .avatar{
      float: left;
      margin-right: 20px;
      img{
        border-radius: 4px;
      }
    }
  }

 }
  ul{
    list-style: none;
    margin: 0; padding: 0;
  }
  .featured-image{
    border: 1px solid #eee;
    border-radius: 4px;
  }
  .post-list > li{
    overflow: hidden;
  }
  .avatar{
    border-radius: 8px;
    width: 200px;
  }
  .text-center{
    text-align: center;
  }
  
  .page-content{
    padding-top: 0;
  }

  .post-icon{
    float: left;
    margin-right: 25px;
    width: 75px;
  }
  .green{
    color: green;
  }
  .index-banner{
    background-color: #266590;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
    img{
      width: 300px;
    }
    small{
      font-size: .58em;
    }

    a.btn{
      display: inline-block;
      background: #88C102;
      padding: 8px 16px;
      border-radius: 3px;
      color: #fff
    }
    h1{
      color: #fff;
      text-transform: capitalize;
     }
  }
  .footer-copy{
    color: #828282;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
  }
  body.portfolio{
    .index-banner{
      background-color: #1abc9c;

      a{
        background-color:#266590 ;
      }
    }
    
  }
  body.about{
    .index-banner{
      background-color: #046e8e;

      a{
        background-color:#1abc9c ;
      }
    }
    
  }