---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .wrapper{
    max-width: 50%;
  }
  .featured-image{
    border: 1px solid #eee;
    border-radius: 4px;
  }
  .post-list > li{
    overflow: hidden;
  }
  .avatar{
    border-radius: 50%;
    width: 200px;
  }
  .text-center{
    text-align: center;
  }
  
  .page-content{
    padding-top: 0;
  }
  .one-half{
    width: 46%;
    display:inline-table;
    margin-right: 2%;
    vertical-align: middle;
  }
  .post-icon{
    float: left;
    margin-right: 25px;
    width: 75px;
  }
  .index-banner{
    background-color: #266590;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;

    a.btn{
      display: inline-block;
      background: #88C102;
      padding: 8px 16px;
      border-radius: 3px;
      color: #fff
    }
    h1{
      color: #fff;
      text-transform: capitalize;
     }
  }