<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {% if page.url != '/404.html'%}
      <div class="index-banner">
        <div class="wrapper">
          
          <div class="one-half">
            <h1>Reliable Shopify <br/>  developement Services.</h1>
            <a class="btn" href="mailto:lixon@ecommercestudio.in">lixon@ecommercestudio.in</a>
          </div>
          <div class="one-half">
            <img src="/images/general/index-banner.png" width="300">
          </div>
        </div>
      </div>
      {% endif%}
      <div class="wrapper">
         {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
