<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">


  <body class="{%- if page.url == '/'-%} index  {%-endif-%}">
 
    <header>
      <!-- <small> Welcome to</small> -->
      <div class="logo"> ecommerce<span class="green">Studio</span> </div>
   
       <h1>A web development team specializing in <em> design and development</em> within Shopify. 
   
       </h1>
   </header>
   <main>
       
       <section>
           <div class="content">
               <div>
                   <h2>About</h2>
                   <img src="/images/office.jpg"  class="featured">
                  <p> Hey there, i’m lixon louis. A shopify partner based out of Kochi, Kerala. Apart from client projects,
                     I also work with other shopify partners/agencies as well -
                      <a rel="nofollow" href="https://www.nanogama.lt/" target="_blank"> Nanogama </a>, 
                      <a rel="nofollow" href="https://www.fivepalmsmedia.com/" target="_blank"> Fivepalmsmedia </a> and
                      <a rel="nofollow" href="https://clickgiant.com/" target="_blank">Clickgiant</a> are some of them.
                      You can find more about me on  
                      <a href="https://community.shopify.com/c/user/viewprofilepage/user-id/539319" target="_blank"> Shopify Community</a>
                      ,<a href="https://www.linkedin.com/in/lixonlouis/" target="_blank"> Linkedin</a> 
                       and <a href="https://github.com/lixonic" target="_blank">Github</a>.

                   Ping me at
 <u>lixon@ecommercestudio.in</u>
                  </p>
                   
                   
                  </div>
           </div>
               <div class="content">
                   <div>
                       <h2> Development Blog</h2>
                       {{ content }}
                  </div>
               </div>
          
       </section>
       <!-- <h2 class="text-center">Featured Projects</h2>

       <section>
        <div class="content">
          <iframe src="https://player.vimeo.com/video/344798538" width="640" height="466" 
          frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

           </div>
           <div class="content">
             <div>
                <h1>IKEA SOFA COVERS Clone</h1> 
              Based on Comfort-works.com, these were tasks involved using Symmetry theme as Base
              <ul>
               <li> Without using shopify apps, display variants as swatches and a respective product image gallery</li>
              
               <li>  Seamless interaction design on product template</li>
              
                <li> Display Fabric details based on Variants and product rating using meta-fields and javascript</li>
              
                  <li> Create Sub-Collection templates using LinkLists</li>
              
                    <li>  Custom sticky Menu and Multi level Links</li>
              </ul>
               
            
            </div>
            
             </div>
       </section>
       <section>
       
           <div class="content">
            <iframe src="https://player.vimeo.com/video/344794266" width="640" height="466" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  
             </div>
             <div class="content">
              <div>
                <h1>Amazon Like Product Swatches</h1> 

              Customized Narrative theme to achieve amazon like product swatches.
               Also made custom sections to show variants as separate products and custom cart templates.
  
  
              </div>
             </div>
       </section>
     -->
   </main>
 
    {%- include footer.html -%}

  </body>
  
</html>
