<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Questrial" rel="stylesheet">


  <body class="{%- if page.url == '/'-%} index {%-else-%} {{ page.title | downcase }} {%-endif-%}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
       
      <div class="wrapper">
         {{ content }}
      </div>
    </main>
 
    {%- include footer.html -%}

  </body>
  
</html>
