---
layout: default
---

<h1 class="page-heading">Latest Work</h1>

<ol>
    <li>
        <a rel="nofollow" href="https://www.bikeshopgirl.com/blogs/updates/urban-arrow-family-cargo-bike-tutorial-10-tips-to-getting-started"
         target="_blank"> <h3>Featured Youtube Video for Blog posts</h3></a>   
         <p>
             Replace the featured image with a Youtube video if there is one. 
         </p> 
    </li>
    <li>
        <a rel="nofollow" href="https://www.woodstocklaundry.co/products/adults-face-mask-10s" target="_blank">
           <h3> Custom FaceMask Order form </h3>
          
        </a>
        <p>Users should be able to  mix and match the patterns (variants) as they want, until they reach the quantity limit. </p>
    </li>
    <li>
        <a href="https://vimeo.com/344798538" target="_blank">
            <h3>IKEA SOFA COVERS Clone (Video) </h3></a>
            <p>Based on Comfort-works.com, these were tasks involved using Symmetry theme as Base
                <ol> 
                    <li> Display variants as swatches and a respective product image gallery.</li>
                
                        <li> Display Fabric details based on Variants and product rating using meta-fields and javascript</li>
                
                            <li> Display Collection inside Collections</li>
                
                                <li> Custom sticky Menu and Multi level Links</li>
            </ol>
            </p>
    </li>
    <li>
        <a href="https://vimeo.com/344794266" target="_blank"><h3>Amazon Like Product Swatches  (Video)</h3>
        </a>
        <p>Customized Narrative theme to achieve amazon like product swatches. Also created custom sections to show variants as separate products and custom cart templates.

        </p>
    </li>
</ol>